{% extends "base.html" %}
{% block title %}商品ページ{% endblock %}
{% block content %}

<div class="row">
<div class="span6 media-grid">
<a href="#"><img src="{{ T.imageurl1 }}"></a><br>

{% if T.imageurl2 %}
<a href="#"><img src="{{ T.imageurl2 }}"></a>
{% endif %}
{% if T.imageurl3 %}
<a href="#"><img src="{{ T.imageurl3 }}"></a>
{% endif %}
</div>

<div class="span6">
<h1>{{ T.product.title }}</h1>
<p>価格 : 
{% if T.seller.currency == 0 %}
{{ T.product.price|int }} 円
{% elif T.seller.currency == 1 %}
$ {{ "%.2f"|format(T.product.price) }}</p>
{% endif %}
</p>

説明 :
<pre>
{{ T.product.desc }}
</pre>
</div>

<div class="span4">
<form action="{{ T.cart_url }}" method="POST">
<input type="hidden" name="title" value="{{ T.product.title }}">
<input type="hidden" name="price" value="{{ T.product.price }}">
<p>数量 :
<select class="medium" name="quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
</p>
<p><button class="btn primary">カートに入れる</button></p>
</form>
</div>

{% endblock %}
