{% extends "base.html" %}
{% block title %}ショッピングカート{% endblock %}
{% block content %}

<h1>"{{ T.sellername }}" pages.</h1>

{% if not T.products %}
<p>商品はありません</p>
{% else %}

<table class="bordered-table zebra-striped">
<thead>
  <tr>
    <th width="1%">画像</th>
    <th>情報</th>
  </tr>
</thead>
<tbody>

{% for s in T.products %}
<tr>
<td class="media-grid">
<a href="{{url_for('seller_product',seller=s.seller, code=s.code)}}">
<img class="thumbnail" src="{{ s.imgurl }}">
</a>
</td>
<td style="padding-top:15px">
<a href="{{url_for('seller_product',seller=s.seller, code=s.code)}}"
   style="font-size:large;">{{ s.title }}</a><br>
<span style="color:#f00">{{ s.price }}</span><br>
<span style="color:#aaa">{{ s.code }}</span>
</td>
</tr>
{% endfor %}

</tbody>
</table>
{% endif %}

{% endblock%}
