body {
  padding-top: 60px;
}
p.loginname {
  color: #ccc;
}
a.loginname:hover,
a.loginname {
  color: #fff;
  font-size:16px;
}
.media-grid {
    margin-left:5px;    
}
.thumbnail {
    padding:8px;
}
.friends {
    font-size: 15px;
    font-weight: bold;
}
div.follower {
    margin-top:10px;
    padding-bottom:5px;
    border-bottom: 1px solid #eee;
}
.name {
    font-style: italic;
    font-size: small;
    color: #aaa;
}
.screen-name{

}
