{% if message.body %}
<div class="span16">
  <div class="alert-message block-message success">
    <a class="close" href="#">×</a>
    <p>{{ message.body }}</p>
  </div>
</div>
{% endif %}

{% if alert.title %}
<div class="span16">
  <div class="alert-message block-message info">
    <a class="close" href="#">×</a>
    <h2><a class="" href="{{ alert.link}}">{{ alert.title }}</a></h2>
    <p>{{ alert.body }}</p>

    <!--
    <div class="alert-actions" style="margin-top:15px">
      <a class="btn small success" href="{{ alert.link}}">受けてたつ！</a>
    </div>-->
  </div>
</div>
{% endif %}
