<div class="row follower">
  <div class="span2">
    <div class="media-grid">
      <a class="tooltip" href="/challenge" rel="twipsy" data-original-title="勝負を申し込む">
        <img class="thumbnail" src="http://a3.twimg.com/profile_images/1477472421/t_icon_normal.jpg">
      </a>
    </div>
  </div>
  <div class="span7">
    <p class="friends">
      <a class="tooltip" href="/challenge" rel="twipsy" data-original-title="勝負を申し込む">tanarkyあああ</a>
    </p>
    ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  </div>
  <div class="span2">
    <p><span class="label success">Win</span> :100000</p>
    <p><span class="label notice">Draw</span> :10</p>
    <p><span class="label warning">Lose</span> :10</p>
  </div>
</div>
