<div class="row follower">
  <div class="span2">
    <div class="media-grid">
      <a class="tooltip" href="/challenge" rel="twipsy" data-original-title="勝負を申し込む">
        <img class="thumbnail" width="48" height="48" src="{{ f.img }}">
      </a>
    </div>
  </div>
<!--
  <div class="span7">
-->
  <div class="span8">
    <p class="friends">
      <a class="tooltip screen-name" href="/challenge?id={{f.id}}" rel="twipsy" data-original-title="勝負を申し込む">{{ f.screen_name }}</a>
      <span class="name">{{ f.name }}</span>
    </p>
    <p>{{ f.desc }}</p>
  </div>
<!--
  <div class="span2">
    <p><span class="label success">Win</span> :100000</p>
    <p><span class="label notice">Draw</span> :10</p>
    <p><span class="label warning">Lose</span> :10</p>
  </div>
-->
</div>
