<div class="row follower">
  <div class="span2">
    <div class="media-grid">
      <a class="tooltip" href="/challenge" rel="twipsy" data-original-title="勝負を申し込む">
        <img class="thumbnail" width="48" height="48" src="{{ f.img }}">
      </a>
    </div>
  </div>
  <div class="span8">
    <p class="friends">
      <a class="tooltip screen-name" href="/twitter/offer?uid={{f.uid}}&amp;account={{ f.account }}&amp;name={{ f.encoded_name }}&amp;sig={{ f.sig }}" rel="twipsy" data-original-title="勝負を申し込む">{{ f.name }}</a>
      <span class="name">{{ f.account }}</span>
    </p>
    <p>{{ f.desc }}</p>
  </div>
</div>
