<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>じゃんけんSNS</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">じゃんけんSNS</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <!--
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>じゃんけんしようぜ！</h1>
        <p>じゃんけんは2人以上の参加者によって行う。参加者は向き合い（あるいは円になり）、片腕を体の前に出す。参加者全員で呼吸を合わせ、「じゃん、けん、ぽん」の三拍子のかけ声を発し、「ぽん」の発声と同時に出した腕の先に「手」を出す。この「手」の組み合わせによって勝者と敗者を決定する。</p>
        <p><a class="btn primary large" href="http://ja.wikipedia.org/wiki/%E3%81%98%E3%82%83%E3%82%93%E3%81%91%E3%82%93" target="_blank">wikipediaでルールを確認</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>Facebook IDでログイン</h2>
          <p>Facebook IDでログインして、友達とじゃんけんしてみよう。</p>
          <p>
            <a href="/login/facebook"><img src="/static/login_facebook.png"></a>
          </p>
        </div>
        <div class="span-one-third">
          <h2>Twitter IDでログイン</h2>
           <p>Twitter IDでログインして、followerとじゃんけんしてみよう。</p>
          <p><a href="/login/twitter"><img src="/static/login_twitter.png"></a></p>
        </div>
        <div class="span-one-third">
          {% include 'ad_250x250.html' %}
        </div>
      </div>

      <footer>
        <p>&copy; tanarky 2011</p>
      </footer>


    </div> <!-- /container -->
  </body>
</html>
